[package]
name = "app"
version = "0.1.0"
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
default-run = "app"
edition = "2021"
rust-version = "1.59"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.2.1", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "1.2.2", features = ["clipboard-all", "dialog-all", "path-all", "protocol-all", "shell-open"] }
log = "0.4.17"
env_logger = "0.10.0"
rand = "0.8.5"
vt100 = "0.15.1"
openssl = { version = "0.10.45", features = ["vendored"] }
russh = { git = "https://github.com/mariotaku/russh", rev = "42f0e2c", features = ["openssl"] }
russh-keys = { git = "https://github.com/mariotaku/russh", rev = "42f0e2c", features = ["openssl"] }
tokio = "1.24.2"
uuid = { version = "1.2.2", features = ["v1"] }
reqwest = "0.11.14"
async-trait = "0.1.63"

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
