[package]
name = "app"
version = "0.1.0"
description = "Device Manager for LG webOS"
authors = ["Ningyuan Li"]
license = "Apache-2.0"
repository = "https://github.com/webosbrew/dev-manager-desktop"
edition = "2021"
rust-version = "1.68.2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "app_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "1.5.0", features = [] }

[dependencies]
tauri-plugin-single-instance = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "dev" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_repr = "0.1.16"
log = "0.4.20"
env_logger = "0.10.0"
rand = "0.8.5"
vt100 = "0.15.2"
tokio = "1.29.1"
uuid = { version = "1.4.1", features = ["v1"] }
hex = "0.4.3"
file-mode = "0.1.2"
posix-errors = "1.2.1"
path-slash = "0.2.1"
httparse = "1.8.0"
r2d2 = "0.8.10"
unix_mode = "0.1.4"
sha256 = "1.4.0"
pathdiff = "0.2.1"
libssh-rs = { version = "0.2.1", features = ["vendored"] }
libssh-rs-sys = "0.2.1"
flate2 = "1.0"

[dependencies.tauri]
version = "1.5.2"
default-features = false
features = ["clipboard-all", "dialog-all", "path-all", "protocol-all", "shell-open", "reqwest-client"]

[dependencies.reqwest]
version = "0.11.22"
features = ["json"]

[dependencies.native-dialog]
version = "0.6.4"
features = ["windows_dpi_awareness", "windows_visual_styles"]

[dependencies.openssl]
version = "0.10.57"

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol", "vendored-openssl"]
# this feature is used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
vendored-openssl = ["libssh-rs-sys/vendored-openssl", "reqwest/native-tls-vendored"]

[patch.crates-io]
libssh-rs = { git = "https://github.com/mariotaku/libssh-rs.git", branch = "feature/more-auth-options" }
libssh-rs-sys = { git = "https://github.com/mariotaku/libssh-rs.git", branch = "feature/more-auth-options" }
