<table class="table">
  <colgroup>
    <col>
    <col>
    <col>
    <col class="w-100">
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <th>IP</th>
      <th>Port</th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let device of (deviceManager.devices$ | async)">
    <td [class.font-weight-bold]="device.default">{{device.name}}</td>
    <td>{{device.host}}</td>
    <td>{{device.port}}</td>
    <td class="text-right">
      <!-- <button class="btn btn-primary">
        <i class="bi bi-terminal"></i>
      </button> -->
      <!-- <button class="btn ml-2">
        <i class="bi bi-pencil"></i>
      </button> -->
      <div class="btn-group ml-2" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
          aria-controls="dropdown-basic">
          Options <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-basic">
          <li role="menuitem">
            <button class="dropdown-item" (click)="installHbChannel(device.name)">
              <i class="bi bi-download mr-3"></i>Install Homebrew
            </button>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem" *ngIf="!device.default">
            <button class="dropdown-item" (click)="markDefault(device.name)">
              <i class="bi bi-check-lg mr-3"></i>Set Default
            </button>
          </li>
          <li role="menuitem">
            <button class="dropdown-item">
              <i class="bi bi-pencil mr-3"></i>Edit
            </button>
          </li>
          <li role="menuitem" *ngIf="!device.indelible">
            <button class="dropdown-item text-danger" (click)="removeDevice(device.name)">
              <i class="bi bi-trash mr-3"></i>Delete
            </button>
          </li>
        </ul>
      </div>
    </td>
  </tr>
</table>
<button class="btn" (click)="openSetupDevice()">Setup device</button>
