<div class="w-100 h-100 d-flex flex-row">
  <div class="h-100 d-flex flex-column p-2">
    <button class="btn btn-sm btn-secondary mt-2" ngbTooltip="Search" (click)="logReader.toggleSearchBar()"
            aria-label="Search">
      <i class="bi bi-search"></i>
    </button>
    <hr>
    <button class="btn btn-sm btn-secondary mb-2" ngbTooltip="Clear" (click)="clearBuffer()" aria-label="Clear">
      <i class="bi bi-trash"></i>
    </button>
    <button class="btn btn-sm btn-secondary mb-2" ngbTooltip="Scroll to bottom" aria-label="Scroll to bottom"
            [disabled]="logReader.reachedBottom" (click)="logReader.scrollToBottom()">
      <i class="bi bi-chevron-bar-down"></i>
    </button>
  </div>
  <app-log-reader class="flex-fill" [source]="logs" #logReader></app-log-reader>
</div>
