<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="info" routerLinkActive="active">Setup Device</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-8 ml-sm-auto col-lg-9 p-4">
      <div class="setup-detail">
        <router-outlet (activate)="onStepChanged($event)"></router-outlet>
      </div>
      <div class="bottom-bar d-flex">
        <button class="btn mr-auto" (click)="closeSetup()">Cancel</button>
        <button class="btn ml-2" (click)="stepBack()" *ngIf="urlStack.length > 1">Go Back</button>
        <button class="btn btn-primary ml-2" (click)="stepNext()" [disabled]="!currentStep || !currentStep.canContinue"
          *ngIf="!currentStep?.isLastStep">Continue</button>
        <button class="btn btn-primary ml-2" (click)="closeSetup()" *ngIf="currentStep?.isLastStep">Finish</button>
      </div>
    </main>
  </div>
</div>
