<div class="w-100 h-100 p-4" *ngIf="!reportsError else error">
  <ol class="list-group list-group-numbered">
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
        (click)="openDetails(report)" *ngFor="let report of reports">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{report.title}}</div>
        {{report.summary}}
      </div>
    </li>
  </ol>
</div>
<ng-template #error>
  <div class="p-3">
    <app-error-card title="Failed to find crash reports" [error]="reportsError" (retry)="reload()"></app-error-card>
  </div>
</ng-template>
