<div class="w-100 h-100 d-flex flex-row" *ngIf="hasData || !logError; else hasError">
  <div class="h-100 d-flex flex-column p-2">
    <button class="btn btn-sm btn-secondary" (click)="openCtrl()"><i class="bi bi-toggles" ngbTooltip="Set log levels"></i></button>
    <button class="btn btn-sm btn-secondary mt-2" *ngIf="false"><i class="bi bi-funnel" ngbTooltip="Filter"></i></button>
    <hr>
    <button class="btn btn-sm btn-secondary" (click)="logReader.scrollToBottom()" [disabled]="logReader.reachedBottom"
            ngbTooltip="Scroll to bottom">
      <i class="bi bi-chevron-bar-down"></i>
    </button>
  </div>
  <app-log-reader class="flex-fill" [source]="logs" #logReader></app-log-reader>
</div>
<ng-template #hasError>
  <div class="p-3">
    <app-error-card title="Failed to fetch system logs" [error]="logError"
                    *ngIf="!hasData && logError"></app-error-card>
  </div>
</ng-template>
