<div *ngIf="device">
  <div *ngIf="!installedError; else error">
    <ul class="list-group list-group-flush" *ngIf="(installed$ | async) as installed else loading">
      <li class="list-group-item app-item d-flex flex-row align-items-center"
          (click)="repoPackages?.[pkg.id] && parent.openDetails(repoPackages![pkg.id])"
          *ngFor="let pkg of installed">
        <div class="app-desc flex-fill">
          <!--suppress AngularNgOptimizedImage -->
          <img class="app-icon" [src]="pkg.iconUri | trustUri" [alt]="pkg.title">
          <div class="app-headline ms-3">
            <div class="app-title">{{ pkg.title }}</div>
            <div class="app-description">
              <span>v{{ pkg.version }}</span>
              <ng-container *ngIf="repoPackages && repoPackages[pkg.id] as rpkg">
              <span class="text-primary"
                    *ngIf="rpkg.manifest?.hasUpdate(pkg.version)">&nbsp;&rsaquo;&nbsp;v{{ rpkg.manifest?.version }}</span>
              </ng-container>
            </div>
          </div>
        </div>
        <button class="btn btn-sm btn-primary text-nowrap" type="button"
                (click)="$event.stopPropagation(); parent.installPackage(repoPackages![pkg.id])"
                *ngIf="repoPackages?.[pkg.id]?.manifest?.hasUpdate(pkg.version)">
          Update
        </button>
      </li>
    </ul>
  </div>
  <ng-template #error>
    <app-error-card title="Unable to get installed apps" [error]="installedError" (retry)="loadPackages()">
    </app-error-card>
  </ng-template>
  <ng-template #loading>
    <app-loading-card></app-loading-card>
  </ng-template>
</div>
