<div class="w-100 h-100 d-flex flex-column overflow-hidden">
  <nav class="manager-toolbar navbar navbar-light bg-light overflow-hidden">
    <div class="mr-auto overflow-auto">

    </div>
    <form class="form-inline">
    </form>
  </nav>
  <div class="w-100 h-100 flex-fill overflow-auto">
    <table class="files-table table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Permission</th>
        <th>Owner</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of (files$ | async)" (click)="onselect(file)">
        <td class="name-col text-truncate">
          <span class="pr-2" [ngSwitch]="file.type">
            <i class="bi-folder-fill" *ngSwitchCase="'dir'"></i>
            <i class="bi-file-earmark-fill" *ngSwitchCase="'file'"></i>
            <i class="bi-gear-fill" *ngSwitchCase="'device'"></i>
            <i class="bi-file-earmark-x-fill" *ngSwitchCase="'invalid'"></i>
            <i class="bi-file-earmark-fill" *ngSwitchDefault></i>
          </span>
          <span>{{file.filename}}</span>
          <span *ngIf="file.link" class="text-secondary">
            <i class="bi-arrow-right-short px-1"></i>
            {{file.link.target}}
          </span>
        </td>
        <td class="property-col text-nowrap">
          <span *ngIf="file.type === 'file'">{{file.attrs?.size | filesize:sizeOptions}}</span>
        </td>
        <td class="property-col text-nowrap">
          {{file.attrs?.mode | attrsPermissions}}
        </td>
        <td class="property-col text-nowrap">{{file.attrs?.uid}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="stat-bar">
    <nav class="h-100 overflow-hidden float-right" aria-label="breadcrumb">
      <ol class="breadcrumb" *ngIf="(pwd && pwd.split('/')) as dirs">
        <li class="breadcrumb-item" *ngFor="let dir of dirs; index as idx">
          <button class="btn btn-sm btn-link" (click)="breadcrumbNav(dirs.slice(0, idx + 1))" *ngIf="idx < 1 || dir">
            <span *ngIf="idx > 0; else rootLabel">{{dir}}</span>
            <ng-template #rootLabel><i class="bi-hdd-fill"></i></ng-template>
          </button>
        </li>
      </ol>
    </nav>
  </div>
</div>
