<div class="w-100 h-100 d-flex flex-column overflow-hidden">
  <nav class="manager-toolbar navbar navbar-light bg-light overflow-hidden">
    <div class="mr-auto overflow-auto">

    </div>
    <form class="form-inline">
      <button class="btn btn-danger ml-2" [disabled]="!hasSelection" (click)="removeFiles(selectedItems)">
        <i class="bi bi-trash"></i>
      </button>
      <button class="btn btn-primary ml-2" [disabled]="!hasSelection" (click)="downloadFiles(selectedItems)">
        <i class="bi bi-download"></i>
      </button>
      <button class="btn btn-primary ml-2" (click)="uploadFiles()">
        <i class="bi bi-upload"></i>
      </button>
    </form>
  </nav>
  <div class="w-100 h-100 flex-fill position-relative">
    <ngx-datatable class="files-table bootstrap position-absolute" [rows]="(files$ | async) || []" [columns]="columns"
                   [rowHeight]="40" scrollbarH="true" scrollbarV="true" [sortType]="SortType.single"
                   [selectionType]="SelectionType.multi" [loadingIndicator]="true"
                   (activate)="itemActivated($event.row, $event.type)" (select)="itemSelected($event.selected)"
                   (tableContextmenu)="itemContextMenu($event.event, $event.type, $event.content)">
      <ngx-datatable-column name="Name" width="400" [sortable]="true" [canAutoResize]="true" [comparator]="compareName">
        <ng-template let-file="row" ngx-datatable-cell-template>
          <div class="text-nowrap">
            <span class="pr-2" [ngSwitch]="file.type">
              <i class="bi-folder-fill" *ngSwitchCase="'d'"></i>
              <i class="bi-file-earmark-fill" *ngSwitchCase="'-'"></i>
              <i class="bi-gear-fill" *ngSwitchCase="'c'"></i>
              <i class="bi-gear-fill" *ngSwitchCase="'b'"></i>
              <i class="bi-gear-fill" *ngSwitchCase="'f'"></i>
              <i class="bi-gear-fill" *ngSwitchCase="'s'"></i>
              <i class="bi-link" *ngSwitchCase="'l'"></i>
              <i class="bi-file-earmark-x-fill" *ngSwitchDefault></i>
            </span>
            <span>{{file.filename}}</span>
            <span *ngIf="file.link" class="text-secondary">
              <i class="bi-arrow-right-short px-1"></i>
              {{file.link.target}}
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Last Modified" [sortable]="true" [canAutoResize]="true" [comparator]="compareMtime">
        <ng-template let-file="row" ngx-datatable-cell-template>
          <span *ngIf="file.attrs">{{file.attrs.mtime * 1000 | date:'short'}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Size" [sortable]="false" [canAutoResize]="true" [comparator]="compareSize">
        <ng-template let-file="row" ngx-datatable-cell-template>
          <span *ngIf="file.type === '-'">{{file.attrs?.size | filesize:sizeOptions}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Permission" [sortable]="false" [canAutoResize]="true">
        <ng-template let-file="row" ngx-datatable-cell-template>
          {{file.type}}{{file.attrs?.mode | attrsPermissions}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Owner" [sortable]="false" [canAutoResize]="true">
        <ng-template let-file="row" ngx-datatable-cell-template>
          {{file.attrs?.uid}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="stat-bar">
    <nav class="h-100 overflow-hidden float-right" aria-label="breadcrumb">
      <ol class="breadcrumb" *ngIf="(pwd && pwd.split('/')) as dirs">
        <li class="breadcrumb-item" *ngFor="let dir of dirs; index as idx">
          <button class="btn btn-sm btn-link" (click)="breadcrumbNav(dirs.slice(0, idx + 1))" *ngIf="idx < 1 || dir">
            <span *ngIf="idx > 0; else rootLabel">{{dir}}</span>
            <ng-template #rootLabel><i class="bi-hdd-fill"></i></ng-template>
          </button>
        </li>
      </ol>
    </nav>
  </div>
</div>
