.manager-toolbar {
  height: 60px;
  flex: 0 0 auto;
}

.ng-touched.ng-invalid {
  @extend .is-invalid;
}


.stat-bar {
  height: 30px;
}

.storage-info-bar {
  width: 25%;
  max-width: 110px;
}

i.bi.larger::before {
  display: block;
  font-size: 1.5em;
  margin: 0 -0.5em;
}
