<div class="modal-header border-0 pb-0">
  <button type="button" class="btn-close ms-auto" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body pt-0">
  <div class="app-header overflow-hidden">
    <img class="app-icon float-start me-2" [src]="pkg.iconUri"/>
    <h3 class="mb-1">{{ pkg.title }}</h3>
    <div>v{{ pkg.version }}</div>
  </div>
  <p class="mt-1">{{ pkg.appDescription }}</p>
  <ul class="list-group">
    <button type="button" class="list-group-item list-group-item-action" (click)="launch()">
      Launch
    </button>
    @if (hasUpdate) {
      <button type="button" class="list-group-item list-group-item-action text-primary" (click)="update()">
        Update to v{{ repoPackage!.manifest!.version }}
      </button>
    }
    <button type="button" class="list-group-item list-group-item-action text-danger" (click)="uninstall()">
      Uninstall
    </button>
    <li class="list-group-item d-flex">
      <div>Space used</div>
      <div class="text-secondary ms-auto">
        @let du = diskUsage$ | async;
        @if (!du) {
          Calculating...
        } @else if (du.error) {
          Failed to calculate
        } @else if (du.result) {
          {{ du.result.total * 1024 | filesize:sizeOptions }}
        }
      </div>
    </li>
  </ul>
</div>
