<div class="modal-body">
  <label class="form-label" for="sshPassphrasePrompt">SSH Private Key Passphrase</label>
  <input class="form-control" type="text" id="sshPassphrasePrompt" [formControl]="formControl">
  <div class="invalid-feedback" *ngIf="formControl.errors?.['BadPassphrase']">
    Wrong passphrase
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
  <button class="btn btn-primary" [disabled]="formControl.invalid"
          (click)="formControl.valid && modal.close(formControl.value)">OK
  </button>
</div>
