<div *ngIf="repoPage$ | async as repoPage; else loading">
  <table>
    <colgroup>
      <col class="w-100">
      <col>
      <col>
    </colgroup>
    <tbody>
      <tr class="app-item" *ngFor="let item of repoPage.packages">
        <td class="app-desc">
          <img class="app-icon" [src]="item.iconUri">
          <div class="app-headline ml-3">
            <div class="app-title">{{item.title}}</div>
            <div class="app-description">{{item.manifest.appDescription}}</div>
          </div>
        </td>
        <td>
          <span>{{item.manifest.version}}</span>
        </td>
        <td>
          <div class="d-flex justify-content-end">
            <ng-container [ngSwitch]="item.manifest?.hasUpdate(parent.instPackages?.get(item.id)?.version)">
              <button class="btn btn-primary ml-2" (click)="parent.launchApp(pkg.id)" *ngSwitchCase="false">
                <i class="bi bi-play-fill mr-2"></i>Launch
              </button>
              <button class="btn btn-primary ml-2" (click)="parent.installPackage(item)" *ngSwitchCase="true">
                <i class="bi bi-download mr-2"></i>Update
              </button>
              <button class="btn btn-primary ml-2" (click)="parent.installPackage(item)" *ngSwitchDefault>
                <i class="bi bi-download mr-2"></i>Install
              </button>
            </ng-container>
            <div class="btn-group" ngbDropdown container="body" display="dynamic" role="group"
              aria-label="Button group with nested dropdown">
              <button class="btn ml-2" ngbDropdownToggle>
                Options <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" ngbDropdownMenu>
                <li ngbDropdownItem *ngIf="item.manifest">
                  <a [href]="item.manifest.sourceUrl">
                    <i class="bi bi-globe2 mr-3"></i>Website
                  </a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li ngbDropdownItem class="text-danger" (click)="parent.removePackage(pkg)"
                  *ngIf="parent.instPackages?.get(item.id) as pkg">
                  <i class="bi bi-trash mr-3"></i>Uninstall
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mt-3">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="repoPage.paging.maxPage" [(page)]="page"
      [pageSize]="1" aria-label="Default pagination" (pageChange)="loadPage($event)">
    </ngb-pagination>
  </div>
</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>
