<div *ngIf="repoPage$ | async as repoPage; else loading">
  <ul class="list-group list-group-flush">
    <li class="list-group-item app-item d-flex flex-row align-items-center" (click)="parent.openDetails(item)"
        *ngFor="let item of repoPage.packages">
      <ng-container *ngIf="item.manifest as manifest">
        <div class="app-desc flex-fill">
          <img class="app-icon" [ngSrc]="item.iconUri" [alt]="item.title" width="48" height="48">
          <div class="app-headline ms-3">
            <div class="app-title">{{ item.title }}</div>
            <div class="app-description">{{ manifest.appDescription }}</div>
          </div>
        </div>
        <button class="btn btn-primary ms-2 text-nowrap">Details</button>
      </ng-container>
    </li>
  </ul>
  <div class="mt-3">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="repoPage.paging.maxPage" [(page)]="page"
                    [pageSize]="1" aria-label="Default pagination" (pageChange)="loadPage($event)">
    </ngb-pagination>
  </div>
</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>
