<div class="p-3">
  <app-error-card [error]="infoError" title="Unable to get device info" (retry)="loadInfo()"
                  *ngIf="device && infoError">
  </app-error-card>
  <div class="card" *ngIf="sysInfo">
    <div class="card-body">
      <h5 class="card-title">Device - {{sysInfo.modelName}}</h5>
      <p class="card-text">
        <strong>Firmware version: </strong><span>{{sysInfo.firmwareVersion}}</span>
        <br>
        <strong>webOS version: </strong><span>{{sysInfo.sdkVersion}}</span>
      </p>
      <div>
        <button class="btn btn-primary" (click)="takeScreenshot()">Take Screenshot</button>
      </div>
    </div>
  </div>
  <div class="card mt-4" *ngIf="sysInfo && devModeInfo">
    <div class="card-body">
      <h5 class="card-title">Dev Mode</h5>
      <p class="card-text">
        <strong *ngIf="devModeRemaining">Remaining duration: </strong><span>{{devModeRemaining | async}}</span><br>
        <small>Remaining time displaying on your TV will only update on boot.</small>
      </p>
      <div *ngIf="devModeInfo.token">
        <button class="btn btn-primary me-2" (click)="renewDevMode()">Renew session</button>
        <button class="btn btn-primary" (click)="renewScript()">Renew automatically...</button>
      </div>
    </div>
  </div>
  <div class="card mt-4" *ngIf="sysInfo">
    <div class="card-body">
      <h5 class="card-title">Homebrew Channel</h5>
      <p class="card-text" *ngIf="homebrewAppInfo">
        <strong>Version: </strong><span>{{homebrewAppInfo.version}}</span>
        <ng-container *ngIf="homebrewAppConfig as config">
          <br>
          <strong>Rooted: </strong><span *ngIf="config.root else unrooted">Yes</span>
          <ng-template #unrooted>Unrooted</ng-template>
        </ng-container>
      </p>
      <div>
        <button class="btn btn-primary me-2" (click)="installHbChannel()"
                *ngIf="!homebrewAppInfo && homebrewRepoManifest">Install
        </button>
        <button class="btn btn-primary me-2" (click)="installHbChannel()"
                *ngIf="homebrewAppInfo && homebrewRepoManifest && homebrewRepoHasUpdate">Update
        </button>
        <a class="btn btn-primary me-2" href="https://github.com/webosbrew/webos-homebrew-channel"><i
          class="bi bi-github me-2"></i>Github Repo</a>
      </div>
    </div>
  </div>
</div>
