<app-device-editor [name]="device.name" [username]="device.username" [auth]="deviceAuth"
                   [port]="device.port" [host]="device.host" [description]="device.description"
                   #deviceEditor>
</app-device-editor>
<div class="mt-2 float-end">
  <button class="btn btn-sm btn-secondary" (click)="$event.stopPropagation(); closed.emit()">
    Cancel
  </button>
  <button class="btn btn-sm btn-primary ms-2" (click)="$event.stopPropagation(); doSave(deviceEditor)"
          [disabled]="!deviceEditor.valid">Save
  </button>
</div>
