<div class="w-100 h-100 d-flex flex-column overflow-hidden">
  <nav class="manager-toolbar navbar navbar-light bg-light px-2">
    <div class="me-auto">
      <ul ngbNav #nav="ngbNav" class="nav-pills">
        <li ngbNavItem>
          <a ngbNavLink>Installed</a>
          <ng-template ngbNavContent>
            <app-installed></app-installed>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Available</a>
          <ng-template ngbNavContent>
            <app-channel></app-channel>
          </ng-template>
        </li>
      </ul>
    </div>
    <div>
      <button class="btn btn-primary" (click)="openInstallChooser()">
        <i class="bi bi-folder-fill me-2"></i>Install
      </button>
    </div>
  </nav>
  <div class="p-3 flex-fill overflow-auto" [ngbNavOutlet]="nav"></div>
</div>
