<form [formGroup]="formGroup">
  <div class="row">
    <div class="col-12">
      <label for="deviceAddress">Device Name</label>
      <input type="text" class="form-control" id="deviceName" formControlName="name" autocomplete="off" required>
      <ng-container *ngIf="formGroup.controls.name.errors as errors">
        <div class="invalid-feedback" *ngIf="errors['nameExists']">
          Device with this name already exists
        </div>
      </ng-container>
    </div>
    <div class="col-12">
      <label>Address</label>
      <div class="input-group address-input">
        <input type="text" class="form-control username" id="sshUsername" formControlName="sshUsername"
               autocomplete="off" placeholder="username">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control flex-fill" id="deviceAddress" formControlName="address"
               autocomplete="off" placeholder="address">
        <span class="input-group-text">:</span>
        <input type="number" class="form-control port" id="devicePort" formControlName="port" step="1" min="0"
               max="65535" maxlength="5" autocomplete="off" placeholder="port">
      </div>
    </div>
    <div class="col-12">
      <label>Authentication</label>
      <div class="input-group auth-input" [formGroup]="formGroup.controls.sshAuth"
           [ngSwitch]="formGroup.value.sshAuth?.type">
        <select class="form-select" id="authMethod" formControlName="type" required>
          <option value="localKey">Private Key</option>
          <option value="password">Password</option>
          <option value="devKey" [hidden]="hideDevModeAuth" [disabled]="hideDevModeAuth">Dev Mode</option>
        </select>
        <input type="text" class="form-control" id="authValue" formControlName="value"
               [appSshAuthValue]="formGroup.value.sshAuth?.type" autocomplete="off" required>
        <button type="button" class="btn btn-outline-secondary" (click)="chooseSshPrivKey()"
                *ngIf="formGroup.value.sshAuth?.type === 'localKey'">
          Choose...
        </button>
      </div>

      <ng-container *ngIf="formGroup.errors as errors">
        <div class="ng-invalid"></div>
        <div class="invalid-feedback" *ngIf="errors['UnsupportedKey']">
          Unsupported private key.
        </div>
        <div class="invalid-feedback" *ngIf="errors['IO']">
          Can't find private key
        </div>
        <div class="invalid-feedback" *ngIf="errors['PassphraseRequired']">
          This private key requires passphrase
        </div>
        <div class="invalid-feedback" *ngIf="errors['BadPassphrase']">
          Wrong passphrase
        </div>
        <div class="invalid-feedback" *ngIf="errors['PassphraseRequired']">
          Please input passphrase
        </div>
      </ng-container>
    </div>
    <div class="col-md-12">
      <label for="deviceDescription">Description</label>
      <textarea class="form-control" id="deviceDescription" formControlName="description" maxlength="100"
                placeholder="Optional description for the device">
        </textarea>
    </div>
  </div>
</form>
