<div class="w-100 h-100">
  <nav class="navbar navbar-light sticky-top bg-light">
    <div class="mr-auto"></div>
    <form class="form-inline">
      <button class="btn btn-primary" (click)="openInstallChooser()">
        <i class="bi bi-folder-fill mr-2"></i>Install
      </button>
    </form>
  </nav>
  <div class="m-3" (drop)="dropFiles($event)" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)"
    (dragleave)="onDragLeave($event)">
    <table>
      <colgroup>
        <col class="w-100">
        <col>
        <col>
      </colgroup>
      <tbody>
        <tr class="app-item" *ngFor="let pkg of (packages$ | async)">
          <td class="app-desc">
            <img class="app-icon" [src]="pkg.iconPath | aresPullUri:device.name">
            <div class="app-headline ml-3">
              <div class="app-title">{{pkg.title}}</div>
              <div class="app-description">{{pkg.appDescription}}</div>
            </div>
          </td>
          <td>
            <span>{{pkg.version}}</span>
          </td>
          <td>
            <div class="btn-group ml-2" dropdown>
              <button class="btn" (click)="launchApp(pkg.id)">
                <i class="bi bi-play-fill"></i>
              </button>
              <div class="btn-group" ngbDropdown container="body" display="dynamic" role="group"
                aria-label="Button group with nested dropdown">
                <button class="btn" ngbDropdownToggle>
                  Options <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" ngbDropdownMenu>
                  <li ngbDropdownItem>
                    <i class="bi bi-download mr-3"></i>Update
                  </li>
                  <li class="divider dropdown-divider"></li>
                  <li ngbDropdownItem class="text-danger" (click)="removePackage(pkg.id)">
                    <i class="bi bi-trash mr-3"></i>Uninstall
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
