<div class="w-100 h-100 row mx-0 overflow-hidden">
  <ul ngbNav #nav="ngbNav" class="col-4 col-lg-3 col-xl-2 nav-pills p-2" orientation="vertical">
    <li [ngbNavItem]="report.path" *ngFor="let report of reports">
      <a class="report-entry" ngbNavLink>
        <span>{{report.title}}</span>
        <br>
        <small>{{report.summary}}</small>
      </a>
      <ng-template ngbNavContent>
        <div class="position-relative w-100 h-100">
          <div class="overflow-auto w-100 h-100">
            <pre class="overflow-visible p-2">{{report.content | async}}</pre>
          </div>
          <div class="position-absolute top-0 end-0 my-2 mx-4">
            <button type="button" class="btn btn-primary me-2">
              <i class="bi bi-clipboard"></i>
            </button>
            <button type="button" class="btn btn-primary">
              <i class="bi bi-save"></i>
            </button>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="col-8 col-lg-9 col-xl-10 h-100 px-0"></div>
</div>
