.tabs-container {
  background-color: black;
}

ul.terminal-tabs {
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.terminal-tab-page {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.terminal-closed {

}

.terminal-placeholder {
  .xterm {
    height: 100% !important;

    .xterm-viewport {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.terminal-resize {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: min-content;
  padding: 5px 10px;

  color: white;
  background-color: rgba($color: #000000, $alpha: 0.5);
  border-radius: 4px;
}
