<div class="position-relative w-100 h-100">
  <div class="w-100 h-100 position-absolute d-flex flex-column">
    <ul ngbNav #nav="ngbNav" class="nav-tabs flex-shrink-0 mt-2 px-2" [animation]="false" [(activeId)]="currentShell"
        [class.opacity-0]="shells.length === 0">
      <li *ngFor="let shell of shells; trackBy:shellTracker" [ngbNavItem]="shell.token" [destroyOnHide]="false">
        <a ngbNavLink>
          {{shell.title}}
          <span class="close position-relative ps-2 font-weight-light"
                (click)="closeSession($event, shell.token)">×</span>
        </a>
        <ng-template ngbNavContent [ngSwitch]="shell.hasPty">
          <ng-container *ngSwitchCase="true">
            <app-terminal-pty class="terminal-tab" [token]="shell.token" [size]="termSize"
                              *ngIf="termSize"></app-terminal-pty>
            <div class="terminal-resize" *ngIf="pendingResize">
              {{pendingResize.rows}} &times; {{pendingResize.cols}}
            </div>
          </ng-container>
          <app-terminal-dumb class="terminal-tab" [token]="shell.token" *ngSwitchDefault></app-terminal-dumb>
        </ng-template>
      </li>
      <li>
      </li>
      <li class="nav-item">
        <div class="btn-group btn-group-sm mt-1 ms-2" role="group" aria-label="New Tab">
          <button type="button" class="btn btn-secondary" (click)="newTab()">
            <i class="bi bi-plus-lg"></i>
          </button>
          <div class="btn-group btn-group-sm" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary" ngbDropdownToggle>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem *ngFor="let device of (deviceManager.devices$ | async)"
                      (click)="newTab(device)">{{device.name}}</button>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="overflow-hidden flex-fill position-relative">
      <div class="position-absolute w-100 h-100">
        <app-terminal-size-calculator [(size)]="termSize" (pendingResizeChange)="pendingResize = $event">
        </app-terminal-size-calculator>
      </div>
      <div class="position-absolute w-100 h-100 tabs-container" [ngbNavOutlet]="nav"></div>
    </div>
  </div>

  <div class="position-absolute w-100 h-100 p-4" *ngIf="shells.length === 0">
    <h4>Select a device to start terminal session</h4>
    <div class="list-group mt-3">
      <button class="list-group-item list-group-item-action" type="button" (click)="newTab(device)"
              *ngFor="let device of (deviceManager.devices$ | async)">{{device.name}}</button>
    </div>
  </div>
</div>
