<div class="modal-header">
  <h5 class="modal-title">Crash Logs</h5>
</div>
<div class="modal-body">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel (shown)="report.load()" *ngFor="let report of reports">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0 text-truncate">{{report.name}}</h5>
          <button ngbPanelToggle class="btn btn-link p-0">Toggle</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <pre>{{report.content | async}}</pre>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
</div>
