<ng-container *ngIf="device && history">
  <div class="w-100 h-100 d-flex flex-column overflow-hidden" [class.loading]="!state.items && !state.error"
       *ngIf="files$ | async as state">
    <div class="manager-toolbar navbar bg-panel border-bottom d-flex flex-row flex-nowrap px-2">
      <div class="btn-group">
        <button class="btn btn-sm btn-outline-primary" (click)="navBack()" [disabled]="!history.canBack">
          <i class="bi bi-chevron-left"></i>
        </button>
        <button class="btn btn-sm btn-outline-primary" (click)="navForward()" [disabled]="!history.canForward">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
      <div class="flex-fill mx-2 breadcrumb-bar border rounded overflow-hidden">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb my-0 btn-group flex-nowrap">
            <li class="breadcrumb-item btn btn-sm btn-outline-secondary text-nowrap border-top-0 border-bottom-0 rounded-0"
                [class.border-start-0]="idx === 0"
                (click)="breadcrumbNav(state.breadcrumb.slice(0, idx + 1))"
                *ngFor="let dir of state.breadcrumb; index as idx">
              <span *ngIf="idx > 0; else rootLabel">{{dir}}</span>
              <ng-template #rootLabel><i class="bi-hdd-fill me-1"></i>/</ng-template>
            </li>
          </ol>
        </nav>
      </div>
      <button class="btn btn-sm btn-danger ms-2" [disabled]="!hasSelection" (click)="removeFiles(selectedItems)"
              ngbTooltip="Delete" container="body">
        <i class="bi bi-trash"></i>
      </button>
      <button class="btn btn-sm btn-primary ms-2" [disabled]="!hasSelection" (click)="downloadFiles(selectedItems)"
              ngbTooltip="Download" container="body">
        <i class="bi bi-download"></i>
      </button>
      <button class="btn btn-sm btn-primary ms-2" (click)="uploadFiles()" ngbTooltip="Upload" container="body">
        <i class="bi bi-upload"></i>
      </button>
    </div>
    <div class="flex-fill table-responsive" *ngIf="state.items as items else loadingAndError">
      <app-files-table [items]="items" (opened)="openItem($event)" (selected)="selectionChanged($event)">
      </app-files-table>
    </div>
    <ng-template #loadingAndError>
      <div class="p-3">
        <app-error-card title="Unable to list directory" [error]="state.error" (retry)="cd(state.dir)">
        </app-error-card>
        <div *ngIf="!state.error">Loading</div>
      </div>
    </ng-template>
    <div class="stat-bar border-top bottom-0 mt-auto">
      <small class="px-2" *ngIf="state.items as items">
        {{items.length}} {{items.length === 1 ? 'item' : 'items'}}
      </small>
    </div>
  </div>
</ng-container>
