<div class="modal-header" *ngIf="title">
  <h5 class="modal-title">{{title}}</h5>
</div>
<div class="modal-body" [ngSwitch]="messageType">
  <p *ngSwitchCase="'string'">{{message}}</p>
  <ng-template *ngSwitchCase="'component'" #messageComponent></ng-template>
  <div class="card w-100 p-2" *ngIf="error && $any(error).details as details">
    <label class="card-title">More info about the error:</label>
    <pre class="card-body w-100 p-0">{{details}}</pre>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary me-auto" (click)="modal.close(null)"
          *ngIf="alternative">{{alternative}}</button>
  <button type="button" class="btn btn-secondary" (click)="modal.close(false)" *ngIf="negative">{{negative}}</button>
  <button type="button" class="btn" (click)="modal.close(true)" autofocus *ngIf="positive"
          [ngClass]="['btn-' + positiveStyle]">{{positive}}</button>
</div>
