@use 'bootstrap-darkmode/scss/darktheme';
@use 'bootstrap/scss/bootstrap' as bs;
@use 'bootstrap-icons/font/bootstrap-icons';
@use 'xterm/css/xterm.css';

@import './styles/no-select';
@import './styles/app-item';
@import './styles/overflow';
@import './styles/terminal';
@import './styles/shared';

/*
 * Content
 */

[role="main"] {
  // padding-top: 48px; /* Space for fixed navbar */
  display: flex;
  flex-flow: column;
  height: calc(100vh);

  .setup-detail {
    flex: 1 1 auto;
    height: 100vh;
  }
}

.bg-panel {
  background-color: bs.$light;
}

@media (prefers-color-scheme: dark) {
  .bg-panel {
    background-color: bs.$dark !important;
  }
}
