@use 'bootstrap/scss/bootstrap' as bs;
@use 'bootstrap-icons/font/bootstrap-icons';
@use 'xterm/css/xterm.css';

@import './styles/no-select';
@import './styles/app-item';
@import './styles/overflow';
@import './styles/terminal';
@import './styles/shared';

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  // padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  // height: calc(100vh - 48px);
  height: calc(100vh);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/*
 * Content
 */

[role="main"] {
  // padding-top: 48px; /* Space for fixed navbar */
  display: flex;
  flex-flow: column;
  height: calc(100vh);

  .setup-detail {
    flex: 1 1 auto;
    height: 100vh;
  }
}

.bg-panel {
  @extend .bg-dark-subtle;
}
