@use 'bootstrap' as bs;
@use 'bootstrap-icons';
@use '@xterm/xterm';

@import './styles/no-select';
@import './styles/app-item';
@import './styles/overflow';
@import './styles/terminal';
@import './styles/shared';

/*
 * Content
 */

[role="main"] {
  // padding-top: 48px; /* Space for fixed navbar */
  display: flex;
  flex-flow: column;
  height: calc(100vh);

  .setup-detail {
    flex: 1 1 auto;
    height: 100vh;
  }
}

.bg-panel {
  @extend .bg-dark-subtle;
}
