<div class="modal-header">
  <h5 class="modal-title">Automatic Developer Mode Renewal</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')"></button>
</div>
<div class="modal-body">
  <div class="d-flex">
    <ul ngbNav #nav="ngbNav" class="nav-pills me-4" orientation="vertical">
      <li ngbNavItem="ifttt">
        <a class="text-nowrap" ngbNavLink>IFTTT Applet</a>
        <ng-template ngbNavContent>
          <ul>
            <li>Create an applet in <a href="https://ifttt.com/create">ifttt.com/create</a>.</li>
            <li>Select <strong>Date & Time</strong> as trigger.</li>
            <li>Choose <strong>Every day at</strong> or <strong>Every hour at</strong>, and pick any option you
              like.
            </li>
            <li>Select <strong>Webhooks</strong> as action.</li>
            <li>Use <strong>URL below</strong>:
              <div class="overflow-auto bg-light p-2">
                <code
                  class="text-nowrap">https://developer.lge.com/secure/ResetDevModeSession.dev?sessionToken={{devModeToken$ | async}}</code>
              </div>
            </li>
            <li>Select <strong>Creation action</strong>.</li>
            <li>Select <strong>Continue</strong>.</li>
            <li>
              Review and name your Applet. Please note <strong>if this method stopped working</strong>, you should open
              this page and use the new URL.
            </li>
          </ul>
        </ng-template>
      </li>
      <li ngbNavItem="script">
        <a class="text-nowrap" ngbNavLink>Shell Script</a>
        <ng-template ngbNavContent>
          <p>Following is a shell script. It can be executed anywhere in your local area network.</p>
          <div class="position-relative">
            <pre class="pre-scrollable bg-light p-3" #renewScript><![CDATA[#!/bin/sh]]>
<ng-container><![CDATA[
cat > /tmp/webos_privkey_{{device.name}} << END_OF_PRIVKEY
{{decryptedPrivKey}}
END_OF_PRIVKEY

chmod 600 /tmp/webos_privkey_{{device.name}}
]]></ng-container>
<![CDATA[sessionToken=$(ssh -i /tmp/webos_privkey_{{device.name}} \
 -o ConnectTimeout=3 -o StrictHostKeyChecking=no \
 -p {{device.port}} {{device.username}}@{{device.host}} \
 cat /var/luna/preferences/devmode_enabled)
if [ -z "$sessionToken" ]; then
  sessionToken=$(cat /tmp/webos_devmode_token_{{device.name}}.txt)
else
  echo $sessionToken > /tmp/webos_devmode_token_{{device.name}}.txt
fi

if [ -z "$sessionToken" ]; then
  echo "Unable to get token" >&2
  exit 1
fi

checkSession=$(curl --max-time 3 -s "https://developer.lge.com/secure/ResetDevModeSession.dev?sessionToken=$sessionToken")

echo $checkSession]]></pre>
            <div class="position-absolute top-0 right-0 my-2 mx-4">
              <button type="button" class="btn btn-primary me-2" (click)="copyScript(renewScript.textContent || '')">
                <i class="bi bi-clipboard"></i>
              </button>
              <button type="button" class="btn btn-primary" (click)="saveScript(renewScript.textContent || '')">
                <i class="bi bi-save"></i>
              </button>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="flex-fill overflow-hidden"></div>
  </div>

</div>
