<div *ngIf="repoPage$ | async as repoPage; else loading">
  <ul class="list-group list-group-flush">
    <li class="list-group-item app-item d-flex flex-row align-items-center" *ngFor="let item of repoPage.packages">
      <ng-container *ngIf="item.manifest as manifest">
        <div class="app-desc flex-fill">
          <img class="app-icon" [src]="item.iconUri">
          <div class="app-headline ms-3">
            <div class="app-title">{{item.title}}</div>
            <div class="app-description">{{manifest.appDescription}}</div>
          </div>
        </div>
        <ng-container *ngLet="parent.instPackages?.get(item.id) as pkg">
          <span class="text-secondary" *ngIf="pkg && manifest.hasUpdate(pkg.version)">{{pkg.version}}&rsaquo;</span>
          <span>{{manifest.version}}</span>
          <div class="d-flex justify-content-end">
            <ng-container [ngSwitch]="pkg && manifest.hasUpdate(pkg.version)">
              <button class="btn btn-primary ms-2 text-nowrap" (click)="parent.launchApp(item.id)"
                      *ngSwitchCase="false">
                <i class="bi bi-play-fill me-2"></i>Launch
              </button>
              <button class="btn btn-primary ms-2 text-nowrap" (click)="parent.installPackage(item)"
                      *ngSwitchCase="true">
                <i class="bi bi-download me-2"></i>Update
              </button>
              <button class="btn btn-primary ms-2 text-nowrap" (click)="parent.installPackage(item)" *ngSwitchDefault>
                <i class="bi bi-download me-2"></i>Install
              </button>
            </ng-container>
            <div class="btn-group" ngbDropdown container="body" display="dynamic" role="group"
                 aria-label="Button group with nested dropdown">
              <button class="btn ms-2 text-nowrap" ngbDropdownToggle>
                Options <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" ngbDropdownMenu>
                <li ngbDropdownItem *ngIf="item.manifestBeta" (click)="parent.installBetaPackage(item)">
                  <i class="bi bi-download me-3"></i>Install Beta
                </li>
                <li ngbDropdownItem *ngIf="manifest?.sourceUrl as url">
                  <a class="text-decoration-none" [href]="url">
                    <i class="bi bi-globe2 me-3"></i>Website
                  </a>
                </li>
                <ng-container *ngIf="pkg">
                  <li class="divider dropdown-divider"></li>
                  <li ngbDropdownItem class="text-danger" (click)="parent.removePackage(pkg)">
                    <i class="bi bi-trash me-3"></i>Uninstall
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </li>
  </ul>
  <div class="mt-3">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="repoPage.paging.maxPage" [(page)]="page"
                    [pageSize]="1" aria-label="Default pagination" (pageChange)="loadPage($event)">
    </ngb-pagination>
  </div>
</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>
