<div class="p-3">
  <h5 class="mt-3">Device tools</h5>
  <ul class="list-group">
    <a class="list-group-item list-group-item-action" routerLink="debug" replaceUrl [relativeTo]="homeRoute">
      <i class="bi bi-bug me-2"></i>Debug
    </a>
  </ul>
  <h5 class="mt-3">Settings</h5>
  <ul class="list-group">
    <a class="list-group-item list-group-item-action" routerLink="devices" replaceUrl [relativeTo]="homeRoute">
      <i class="bi bi-tv me-2"></i>Devices
    </a>
  </ul>
  <h5 class="mt-3">About this app</h5>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between">
      <label class="me-auto"><i class="bi bi-info-circle me-2"></i>Version</label>
      <label class="text-secondary">{{ appVersion || 'local' }}</label>
    </li>
    <a class="list-group-item list-group-item-action" href="https://github.com/webosbrew/dev-manager-desktop/"
       appExternalLink>
      <i class="bi bi-github me-2"></i>GitHub
    </a>
  </ul>
</div>
